# EditorConfig for AppGroup project
# https://editorconfig.org

root = true

[*]
charset = utf-8-bom
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,xaml,xml,csproj,props,targets}]
charset = utf-8-bom

[*.{json,yml,yaml}]
indent_size = 2
